.cont-button{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border: 3px solid black ;
    margin: 2px;
  }

  .cont-button:hover {
    color: black;
    background-color: magenta;
  }

  .cont-button:active {
    color: grey;
    background-color: yellow;
  }

  .txt1 {
    font-size: 120%;
  }       
  .txt2 {
    font-size: 120%;
  }       
  .txt3 {
    font-size: 120%;      
  }       
  .txt4{
    font-size: 120%;
  }
  .txt5{
    font-size: 120%;
  }

  #title-biography{
    text-align: center;
    font-size: 22px;
  }

  .back-main{
    font-style: italic;
  }

  #content{
    text-align: center;
  }
  
  .sub-title{
    font-size: 140%;
  }

  .to-cont{
    font-weight: bold;
  }

  .up{
    text-transform: uppercase;
  }

/* Large devices */
@media (min-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
border: 1px solid black;
}
.col-lg-1 {
width: calc(8.33% - 10px);
}
.col-lg-2 {
width: calc(16.66% - 10px);
}
.col-lg-3 {
width: calc(25% - 10px);
}
.col-lg-4 {
width: calc(33.33% - 10px);
}
.col-lg-5 {
width: calc(41.66% - 10px);
}
.col-lg-6 {
width: calc(50% - 10px);
}
.col-lg-7 {
width: calc(58.33% - 10px);
}
.col-lg-8 {
width: calc(66.66% - 10px);
}
.col-lg-9 {
width: calc(75% - 10px);
}
.col-lg-10 {
width: calc(83.33 - 10px);
}
.col-lg-11 {
width: calc(91.66% - 10px);
}
.col-lg-12 {
width: calc(100% - 10px);
}
}

/* Medium devices */
@media (min-width: 769px) and (max-width: 993px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
border: 1px solid black;
}
.col-md-1 {
width: calc(8.33% - 10px);
}
.col-md-2 {
width: calc(16.66% - 10px);
}
.col-md-3 {
width: calc(25% - 10px);
}
.col-md-4 {
width: calc(33.33% - 10px);
}
.col-md-5 {
width: calc(41.66% - 10px);
}
.col-md-6 {
width: calc(50% - 10px);
}
.col-md-7 {
width: calc(58.33% - 10px);
}
.col-md-8 {
width: calc(66.66% - 10px);
}
.col-md-9 {
width: calc(75% - 10px);
}
.col-md-10 {
width: calc(83.33% - 10px);
}
.col-md-11 {
width: calc(91.66% - 10px);
}
.col-md-12 {
width: calc(100% - 10px);
}
}

/* Small devices */
@media (max-width: 768px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
border: 1px solid black;
}
.col-sm-1 {
width: calc(8.33% - 10px);
}
.col-sm-2 {
width: calc(16.66% - 10px);
}
.col-sm-3 {
width: calc(25% - 10px);
}
.col-sm-4 {
width: calc(33.33% - 10px);
}
.col-sm-5 {
width: calc(41.66% - 10px);
}
.col-sm-6 {
width: calc(50% - 10px);
}
.col-sm-7 {
width: calc(58.33% - 10px);
}
.col-sm-8 {
width: calc(66.66% - 10px);
}
.col-sm-9 {
width: calc(75% - 10px);
}
.col-sm-10 {
width: calc(83.33% - 10px);
}
.col-sm-11 {
width: calc(91.66% - 10px);
}
.col-sm-12 {
width: calc(100% - 10px);
}
}

.col-lg-4,
.col-lg-6,
.col-md-6,
.col-md-12,
.col-sm-12{
border: 1px solid black;
}

.row{
display: flex;
flex-wrap: wrap;
gap: 10px;
}   

.item1{
  background-color: red;
}  

.item2{
  background-color: yellow;
} 

.item3{
  background-color: green;
} 

.item4{
  background-color: brown;
} 

.item5{
  background-color: grey;
}